@media screen and (max-width: 479px){
    .container{
        width: 200px;
    }

    header{
        height: auto;
    }

    header, .sidebar, .right-sidebar, footer{
        width: 100%;
    }

    nav{
        flex-direction: column;
        margin-right: 70px;
        height: auto;
    }

    .navbar:first-child{
        border-width: 10px 10px 0px 10px;
    }

    .navbar:last-child{
        border-width: 0px 10px 10px 10px;
    }

    main{
        display: block;
        height: 100%;
    }

    .sidebar{
        height: 100px;
    }

    .sidebar-nav{
        width: 75%;
    }

    .right-sidebar{
        padding: 20px 0px 0px 30px;
        height: 220px;
    }

    footer{
        width: 100%;
        order: 1;
    }
}